<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="py-5">
      <div class="container px-4 text-center">
        <div class="row gx-5">
          <div class="col-12 col-lg-6">
            <div class="card border-light mb-3 rounded-corners">
              <div class="card-header" style="font-weight: bold;">$TICKER</div>
              <div class="card-body">
                <h4 class="card-title">Ponzu - Sauces of Ryoshi</h4>
                <p class="card-text">The best Sauce on Dogechain</p>
                <div>
                  <a class="btn btn-outline-warning" href="{{ my_page.url | relative_url }}">Buy on DogeSwap</a>
                  <a class="btn btn-outline-success" href="{{ my_page.url | relative_url }}">DexScreener chart</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="card border-light mb-3 rounded-corners">
              <div class="card-body">
                <h4 class="card-title">Some image here</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container px-4 text-center">
        <div class="row gx-5">
          <div class="col-12 col-lg-6">
            <div class="mb-3">
              <div class="card-body">
                <h5 class="card-title">Tokenomics</h5>
                <p>Ponzu <b>tokenomics & taxes</b> are as follows:</p>
                <div class="row gy-1">
                  <div class="col-12">
                    <p>Buy tax: x%</p>
                  </div>
                  <div class="col-12">
                    <p>Sell tax: y%</p>
                  </div>
                  <div class="col-12">
                    <p><b>Tax breakdown</b></p>
                  </div>
                  <div class="col-12">
                    <p>Liquidity: n%</p>
                  </div>
                  <div class="col-12">
                    <p>Marketing: m%</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>    
      </div>
    </div>
    
    <div class="py-5">
      <div class="container page-content">
          {{ content }}
      </div>
    </div>

  </body>

</html>
