<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="py-5">
      <div class="container px-4 text-center">
        <div class="row gx-5">
          <div class="col-12 col-lg-6">
            <div class="border-light mb-3 rounded-corners">
              <div class="card-header" style="font-weight: bold;">$TICKER</div>
              <div class="card-body">
                <h4 class="card-title">Ponzu - Sauces of Ryoshi</h4>
                <p class="card-text">The best <b>sauce</b> on <b>Dogechain</b></p>
                <div>
                  <a class="btn btn-outline-warning" href="{{ my_page.url | relative_url }}">Buy on DogeSwap</a>
                  <a class="btn btn-outline-success" href="{{ my_page.url | relative_url }}">DexScreener chart</a>
                </div>
              </div>
            </div>

            <div class="container px-4 text-center">
              <div class="row gx-5">
                <div class="col-12">
                  <div class="mb-3">
                    <div class="card-body">
                      <h5 class="card-title">Tokenomics</h5>
                      <p>Ponzu <b>tokenomics & taxes</b> are as follows:</p>
                      <div class="row gy-1">
                        <div class="col-12">
                          Buy tax: x%
                        </div>
                        <div class="col-12">
                          Sell tax: y%
                        </div>
                        <div class="col-12">
                          <b>Tax breakdown</b>
                        </div>
                        <div class="col-12">
                          Liquidity: n%
                        </div>
                        <div class="col-12">
                          Marketing: m%
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>    
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <img src="{{ '/assets/images/dogoo.png' | relative_url }}" alt="Italian Trulli" class="img-fluid rounded-corners">
          </div>
        </div>
      </div>
    </div>
    
    <div class="py-5">
      <div class="container page-content">
          {{ content }}
      </div>
    </div>

  </body>

</html>
